<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./Layout/head') -%>
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <%- include('./Layout/header') -%>
    <section class="banner-section">
      <div class="container">
        <div class="banner-wrpr">
          <h1>Home Page</h1>
        </div>
      </div>
    </section>
    <%- include('./Layout/footer') -%>
  </body>
</html>
