.cards-section {
  padding: 100px 0;
}

.card {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.card-img > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.mySwiper {
  border-radius: 10px;
}
