@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e043ff;
  --secondary-color: #383838;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-50 {
  width: 50%;
  padding: 0 15px;
}

.col-25 {
  width: 25%;
  padding: 0 15px;
}

.col-33 {
  width: 33.33%;
  padding: 0 15px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
}

/* Navbar Section */

header {
  padding: 15px 0;
}

.navbar-collapsed,
nav,
.navbar-collapsed > ul {
  display: flex;
  align-items: center;
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed > ul {
  margin: 0 auto;
}

.nav-logo,
.footer-wrpr {
  font-size: 2rem;
  font-family: "Gravitas One", serif;
}

.navbar-collapsed > ul > li:first-child {
  margin-left: 0 !important;
}

.nav-logo > a {
  color: var(--primary-color);
}

.nav-items {
  margin-left: 30px;
}

.nav-links {
  position: relative;
  font-size: 18px;
}

.nav-links::after {
  content: "";
  width: 1px;
  height: 3px;
  bottom: -3px;
  left: 0;
  border-radius: 50px;
  background: var(--primary-color);
  opacity: 0;
  position: absolute;
  transition: 0.5s linear;
}

.nav-links:hover {
  color: var(--primary-color);
}

.nav-links:hover::after {
  opacity: 1;
  width: 100%;
  /* transform: scaleX(100); */
}

/* Banner Section */

.banner-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Gravitas One", serif;
}

.banner-section h1 {
  font-size: 4vw;
}

/* Footer Section */

footer {
  text-align: center;
  color: #fff;
  background: var(--primary-color);
  padding: 15px 0;
}

@media screen and (max-width: 768px) {
  .col-33 {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .col-33 {
    width: 100%;
  }
}
