<header class="hdr-sec">
  <div class="container">
    <nav>
      <div class="nav-logo">
        <a href="/"> AirBnB. </a>
      </div>
      <div class="navbar-collapsed">
        <ul>
          <li class="nav-items">
            <a class="nav-links" href="/">Home</a>
          </li>
          <li class="nav-items">
            <a class="nav-links" href="/blog">Blog</a>
          </li>
        </ul>
        <div class="nav-btn">
          <a class="primary-btn" href="/Login">Login</a>
          <a class="secondary-btn" href="/Signin">Signin</a>
        </div>
      </div>
    </nav>
  </div>
</header>
